<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Login page</title>
    <style type="text/css">
		body{
			background-color: lightcyan ;
					}
		h1{
			color: green;
			font-family: bold;
			font-size: 30;
		}
		p{
			color: blueviolet;
			font-family: fantasy;
			font-size: 20;
		}

	</style>
</head>
    <body>
    <form action="/login1" method="Post">
        <h1>Admin Login</h1>
        <p>Username</p>
        <input type="text" name="uname">

        <p>Enter password</p>
        <input type="password" name="pass">
        <br>
        <br>
        <input type="submit" name="ssubmit">
        <br><br>
    </form>
    </body>

</html>