<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Delete details</title>
    <style type="text/css">
		body{
			background-color: lightsalmon ;
					}
		h3{
			color: green;
			font-family: bold;
			font-size: 25;
		}
		p{
			color: blueviolet;
			font-family: fantasy;
			font-size: 20;
		}

	</style>
</head>
<body>
<h3>Delete Patient data using mobile number</h3>
<form action="/delete" method="POST">
    <p>Enter mobile number</p><input type="text" name="m_nos">
<input type="submit" value="Submit">
    </form>
</body>
</html>