<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UPDATE ENTRY</title>
    <style type="text/css">
		body{
			background-color: lightcoral ;
					}
		h3{
			color: green;
			font-family: bold;
			font-size: 25;
		}
		p{
			color: blueviolet;
			font-family: fantasy;
			font-size: 20;
		}
		b{
			color: Black;
			font-size: 15;
		}
	</style>
</head>
<body>
<h3>YOU CAN CORRECT YOUR MISTAKES HERE</h3>
<form action="/update" method="POST">
   <p> Enter your correct name</p><input type="text" name="user_name">
    <br>
    <br>
    <p>Enter previous mobile number</p><input type="text" name="moo_1nos">
    <br>
    <br>
    <p>Enter correct mobile number</p><input type="text" name="moo_nos">
    <br>
    <br>
    <p>Enter your correct age</p><input type="text" name="ages">
<input type="submit" value="Submit">
    </form>
</body>
</html>